.App 
{
  display: flex;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Calculator
{
  width: 100%;
  max-width: 300px;
  overflow: hidden;
  align-items: center;
  background-color: #7ff1a9;
  border-radius: 10px;
  padding: 1%;  
}

.Calculator-display
{
  text-align: right;
  width: 100%;
  padding: 5px 0;
}

.Calculator-display-text
{
  font-size: 25px;
  font-family: monospace;
  font-weight: bold;
  color: green;
}

Button
{
  border-radius: 5px;
}

.Calculator-operators
{
  padding-left: 15px;  
}

.Calculator-numbers
{
  padding-left: 35px;
}