.App 
{
  display: flex;
  min-height: 100vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.Calculator
{
  width: 100%;
  max-width: 280px;
  overflow: hidden;
  align-items: center;
  background-color: #7ff1a9;
  border-radius: 10px;
  padding: 1%;  
}

.Calculator-display
{
  text-align: right;
  width: 100%;
  height: 60px;
  padding: 20px 0;
  background-color: black;
  border-radius: 5px;
}

.Calculator-display-text
{
  font-size: 50px;
  font-family: monospace;
  font-weight: bold;
  color: green;
  padding: 0 20px;
}

Button
{
  border-radius: 5px;
}

.Calculator-keypad
{
  padding: 10px 0;  
}

.Calculator-operators
{
  padding-left: 10px;
}

.Calculator-numbers
{
  padding-left: 20px;
}

